html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Mooli', 'Roboto', sans-serif  ;
}


.board {
  display: grid;  
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  background-image: url(assets/board.png);
  background-repeat: no-repeat;
  gap: 1px;
  margin-bottom: 1em;
}

.board button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.board .circle {
  background: url(assets/circle.png);
}

.board .cross {
  background: url(assets/cross.png);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.players {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.btns {
  margin-bottom: 2em;
}

.btns button {
  background: #00880b;
  color: aliceblue;
  padding: 10px 15px 10px 15px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6d6d6d;
}

.turn {
  font-size: 2em;
  font-weight: bold;
}

.display-none {
  display: none;
}

.lottie-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}